<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quickdb</title>
</head>
<body>
    <h1>quickdb</h1> 
    <div>
        <form id="form">
            <select id="menu">
                <option value="mysql">MySQL</option>
                <option value="postgres">PostgreSQL</option>
                <option value="mongodb">MongoDB</option>
            </select>
            <input type="text" name="user" placeholder="user">
            <input type="text" name="password" placeholder="password">
            <input type="text" name="db" placeholder="default db">
            <input type="text" name="port" placeholder="port">
            <input type="text" name="name" placeholder="name">
            <button id="create" type="submit">create</button>
        </form>
    </div>
    <div>
        <form>
            <button id="list" type="button">list</button>
        </form>
    </div>
    <div>
        <form action="/remove" method="post">
            <input type="text" id="id" placeholder="id">
            <button id="remove" type="submit">remove</button>
        </form>
    </div>
</body>
</html>
<script>
    const url = "http://localhost:9000"
    const createBtn = document.getElementById("create")
    const listBtn = document.getElementById("list")
    const removeBtn = document.getElementById("remove")

    createBtn.addEventListener("click", async (e) => {
        e.preventDefault()
        const form = document.forms["form"]
        const menu = document.getElementById("menu")
        console.log(menu.value)
        await fetch(`${url}/create`, {
            method: "POST",
            body: JSON.stringify({
                dbs: menu.value,
                user: form.user.value,
                password: form.password.value,
                db: form.db.value,
                port: form.port.value,
                name: form.name.value
            })
        })
    })

    listBtn.addEventListener("click", async (e) => {
        e.preventDefault()
        let res = await fetch(`${url}/list`, {
            method: "GET"
        })
        res = await res.json()
        console.log(res)
    })

    removeBtn.addEventListener("click", async (e) => {
        e.preventDefault()
        const val = document.getElementById("id").value
        console.log(val)
        await fetch(`${url}/remove/${val}`, {
            method: "DELETE",
        })
    })
</script>